* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
  padding: 1em;
  font-size: clamp (0.5rem, 2.5vmin, 2rem);
}

h1{
  color: white;
  text-align: center;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
}

.letter {
  display: flex;
  grid-column: span 2;
  color: #464646;
  font-size: inherit;
  border: none;
  border-radius: 0.25em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.large {
  grid-column: span 3;
}

.letter:hover,
.letter:focus {
  background-color: lightgray;
}

.letter.wrong {
  background-color: #464646;
  color: white;
}

.letter.wrong-place {
  background-color: rgb(207, 207, 42);
}

.word-grid {
  display: grid;
  grid-template-rows: repeat(6, 4em);
  grid-template-columns: repeat(5, 4em);
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  margin-bottom: 1em;
  gap: 0.25em;
}

.square {
  display: flex;
  color: white;
  border: 1px solid rgb(49, 49, 49);
  font-size: 2.5em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  user-select: none;
}

